server {
    listen 443 ssl;
    server_name linux-tweet.example.com;

    ssl_certificate /etc/ssl/linux_tweet_app/linux_tweet_app.crt;
    ssl_certificate_key /etc/ssl/linux_tweet_app/linux_tweet_app.key;

    location / {
        proxy_pass http://127.0.0.1:8080;
    }
}
